
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.clear-bottom {
	&:after {
		content:"";
		clear: both;
		display: block;
	}
}
.wrapper {
	width: 100%;
	margin: 0px auto;
}

#colophon {
	.wrapper {
		padding: $size__margin-tiny 2.5*$size__margin-tiny;
		@media screen and (min-width: $mobilelandscapewidth){
			padding: $size__margin-medium 2.5*$size__margin-medium;
		}
		.site-info {
			> * {
				display: block;
				width: 100%;
				margin: 0;
				text-align: center;
				@media screen and (min-width: $mobilelandscapewidth) {
					display: inline-block;
					width: auto;
				}
			}
		}
		.footer-menu {
			
		}
		.sitemap {
		
		}
		nav {
			ul {
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					padding: 0;
					text-align: center;
					width: 100%;
					@media screen and (min-width: $mobilelandscapewidth) {
						display: inline-block;
						width: auto;
					}
				}
			}
		}
	}
}
