
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.clear-bottom {
	&:after {
		content:"";
		clear: both;
		display: block;
	}
}
.wrapper {
	width: 100%;
	margin: 0px auto;
}
a.surrounding {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
}

.copy {
	font-family: 'Quattrocento', serif;
	h1,h2,h3,p {
		&:first-child {
			margin-top:0;
		}
		&:last-child {
			margin-bottom:0;
		}
	}
}

.background-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-position: center;
	background-size: cover;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: $font__size-medium-medium-large;
}
p {
	font-size: 15px;
	margin: $size__margin-medium-small 0;
}
h1,h2,h3 {
	font-family: 'Quattrocento', serif;
	font-weight: 700;
	color: $color__wkww-maroon;
	margin: $size__margin-medium-small 0;
}
#page {
	border-top: 3px solid $color__wkww-green;
}
body {
	min-width: 280px;
	word-break: keep-all;
}
#masthead {
	border-bottom: 1px dotted lightgrey;
	> .wrapper {
		max-width: $deskwidth;
		margin: 0 auto;
		padding: $size__margin-tiny;
		padding-top: $size__margin-medium;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		@media screen and (min-width: $mobilelandscapewidth){
			padding:  $size__margin-medium $size__margin-medium-large;
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		.logo.wrapper {
			width: 50%;
			flex: 0 0 auto;
			position: relative;
			margin: 0 auto;
			@media screen and (min-width: $mobilelandscapewidth){
				width: auto;
				max-width: 15%;
				flex: 0 1 auto;
				margin: 0;
			}
			img {
				width: 100%;
			}
		}
		#site-navigation {
			width: 100%;
			flex: 0 0 auto;
			@media screen and (min-width: $mobilelandscapewidth){
				width: 55%;
				flex: 0 1 auto;
				max-width: 500px;
			}
			ul {
				margin: 0;
				padding: 0;
				text-align: center;
				font-size: $font__size-small;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: stretch;
				align-content: stretch;
				@media screen and (min-width: $mobilelandscapewidth){
					font-size: $font__size-medium-small;
					justify-content: space-between;
				}
				li {
					padding: 0;
					margin: 0 $size__margin-tiny;
					width: auto;
					flex: 0 0 auto;
					list-style: none;
					@media screen and (min-width: $mobilelandscapewidth) {
						display: inline-block;
						margin: 0;
					}
					a {
						font-size: $font__size-medium-medium-large;
						font-family: 'Quattrocento', serif;
						text-decoration: none;
						color: $color__text-main;
					}
				}
			}
		}
		.telephone-number {
			font-size: $font__size-medium-medium-large;
			font-family: 'Quattrocento', serif;
			width: auto;
			display: none;
			@media screen and (min-width: $mobilelandscapewidth){
				display: block;
				flex: 0 1 auto;
			}
		}
	}
}
#colophon-home {
	> .wrapper {
		padding: $size__margin-tiny 2.5*$size__margin-tiny;
		@media screen and (min-width: $mobilelandscapewidth){
			padding: $size__margin-medium 2.5*$size__margin-medium-large;
		}		
	}
}
#colophon {
	border-top: 2px solid $color__wkww-maroon;
	background-color: $color__wkww-green;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	> .wrapper {
		padding: $size__margin-tiny;
		@media screen and (min-width: $mobilelandscapewidth){
			padding: $size__margin-large $size__margin-medium-large;
		}
	}
}
#colophon, #colophon-home {
	font-family: 'Quattrocento sans', sans-serif;
	font-size: $font__size-medium;
	color: white;
	> .wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: $deskwidth;
		margin: 0 auto;
		width: 100%;
		@media screen and (min-width: $mobilelandscapewidth){
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		.site-info {
			width: 100%;
			flex: 0 0 auto;
			display: flex;
			justify-content: center;
			align-items: stretch;
			align-content: stretch;
			flex-wrap: wrap;
			@media screen and (min-width: $mobilelandscapewidth){
				width: auto;
				flex: 0 1 auto;
				justify-content: flex-start;	
			}			
			> * {
				display: block;
				width: 100%;
				flex: 0 0 auto;
				margin: 0;
				text-align: center;
				font-size: $font__size-medium;
				@media screen and (min-width: $mobilelandscapewidth) {
					display: inline-block;
					width: auto;
				}
			}
			.separator {
				display: none;
				@media screen and (min-width: $mobilelandscapewidth) {
					display: block;
				}
			}
		}
		.footer-desc-menu {
			width: 100%;
			flex: 0 0 auto;
			@media screen and (min-width: $mobilelandscapewidth){
				width: auto;
				flex: 0 1 auto;
			}
			ul {
				li {
					&:first-child {
						span {
							&:before {
								display: none;
							}
						}
					}
					span {
						&:before {
							content: "|";
							display: none;
							@media screen and (min-width: $mobilelandscapewidth){
								margin: 0 $size__margin-medium-small;
								display: inline-block;
							}
						}
					}
				}
			}
		}
		.footer-menu {
			width: 100%;			
			flex: 0 0 auto;
			@media screen and (min-width: $mobilelandscapewidth){
				width: auto;
				flex: 0 1 auto;	
			}
			ul {
				@media screen and (min-width: $mobilelandscapewidth){
					justify-content: flex-end;	
				}
				li {
					&:first-child {
						a {
							&:before {
								display: none;
							}
						}
					}
					a {
						&:before {
							content: "/";
							display: none;
							@media screen and (min-width: $mobilelandscapewidth){
								margin: 0 $size__margin-tiny;
								display: inline-block;
							}
						}
					}
				}
			}
		}
		nav {
			ul {
				margin: 0;
				padding: 0;
				text-align: center;
				font-size: $font__size-medium;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: stretch;
				align-content: stretch;
				li {
					margin: 0;
					padding: 0;
					width: 100%;
					flex: 0 0 auto;
					list-style: none;
					@media screen and (min-width: $mobilelandscapewidth) {
						display: inline-block;
						width: auto;
						margin: 0;
					}
					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}
	}
}