#primary-home {
	#main {
		article {
			padding: $size__margin-tiny;
			padding-bottom: 0;
			display: block;
			width: 100%;
			@media screen and (min-width: $mobilelandscapewidth){
				padding: $size__margin-medium;
			}
			.row.gallery-nav-title.clear-bottom {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				align-content: stretch;
				flex-wrap: wrap;
				@media screen and (min-width: $mobilelandscapewidth){
					flex-wrap: nowrap;
				}
				.nav-title.wrapper.right-column {
					width: 100%;
					margin: 0;
					flex: 0 0 auto;
					order: 1;
					@media screen and (min-width: $mobilelandscapewidth){
						width: 100%-$size__home-left-column-width;
						order: 2;
					}
					.logo.wrapper {
						position: relative;
						img {
							
						}
					}
					nav {
					}
				}
				.gallery.wrapper.left-column.size-4-3 {
					width: 100%;
					margin: 0;
					flex: 0 0 auto;
					order: 2;
					@media screen and (min-width: $mobilelandscapewidth){
						width: $size__home-left-column-width;
						order: 1;
					}
					.slides {
						.slide {
							
						}
					}
				}
			}
			.row.copy {
				width: 100%;
				margin: 0;
				padding: $size__margin-tiny 1.5*$size__margin-tiny; 
				@media screen and (min-width: $mobilelandscapewidth){
					padding: $size__margin-medium 1.5*$size__margin-medium;
				}
				@media screen and (min-width: $tabwidth){
					width: $size__home-left-column-width;
					margin: 0 auto 0 0;
				}
			}
		}
	}
}
#colophon-home {
	> .wrapper {
		padding: $size__margin-tiny 2.5*$size__margin-tiny;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		@media screen and (min-width: $mobilelandscapewidth){
			padding: $size__margin-medium 2.5*$size__margin-medium;
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		.site-info {
			width: 100%;
			flex: 0 0 auto;
			display: flex;
			justify-content: center;
			align-items: stretch;
			align-content: stretch;
			flex-wrap: wrap;
			@media screen and (min-width: $mobilelandscapewidth){
				width:auto;
				flex: 0 1 auto;
			}			
			> * {
				display: block;
				width: 100%;
				flex: 0 0 auto;
				margin: 0;
				text-align: center;
				font-size: $font__size-small;
				@media screen and (min-width: $mobilelandscapewidth) {
					display: inline-block;
					width: auto;
					font-size: $font__size-medium-small;
				}
			}
		}
		.footer-menu {
			width: 100%;
			flex: 0 0 auto;
			@media screen and (min-width: $mobilelandscapewidth){
				width: auto;
				flex: 0 1 auto;
			}
		}
		.sitemap {
			width: 100%;
			flex: 0 0 auto;
			@media screen and (min-width: $mobilelandscapewidth){
				width: auto;
				flex: 0 1 auto;
			}
		}
		nav {
			ul {
				margin: 0;
				padding: 0;
				text-align: center;
				font-size: $font__size-small;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: stretch;
				align-content: stretch;
				@media screen and (min-width: $mobilelandscapewidth){
					font-size: $font__size-medium-small;
				}
				li {
					margin: 0;
					padding: 0;
					width: 100%;
					flex: 0 0 auto;
					list-style: none;
					@media screen and (min-width: $mobilelandscapewidth) {
						display: inline-block;
						width: auto;
					}
				}
			}
		}
	}
}