#main {
	article {
		padding: $size__margin-tiny;
		padding-bottom: 0;
		display: block;
		width: 100%;
		max-width: $deskwidth;
		margin: 0 auto;
		@media screen and (min-width: $mobilelandscapewidth){
			padding:$size__margin-large $size__margin-medium-large $size__margin-medium-large $size__margin-medium-large;
		}
		> header {
			.title {
				
			}
		}
		/*---------------------------
		 * Page & Sitemap Template Specific
		 ---------------------------*/
		.copy.sitemap, .copy.page {
			width: 100%;
			margin: $size__margin-medium-small 0;
		}
		/*----------------------------
		 * Sitemap Template Specific
		 -----------------------------*/
		nav.sitemap {
			width: 100%;
			margin: $size__margin-medium-small 0;
			ul {	
				margin: 0;
				padding: 0;
				font-size: $font__size-medium-small;
				@media screen and (min-width: $mobilelandscapewidth){
					font-size: $font__size-medium;
				}
				li {
					margin: 0;
					padding: 0 2%;
					width: 100%;
					a {
						font-size: $font__size-medium-medium;
						font-family: 'Quattrocento', serif;
						text-decoration: none;
						color: $color__text-main;
					}
				}
			}
		}
		/*------------------------
		 * About template specific
		 -------------------------*/
		.copy.pre-architect {
			width: 100%;
			margin: $size__margin-medium-small 0;
		}
		.architect.wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			align-content: stretch;
			flex-wrap: wrap;
			margin-bottom: $size__margin-tiny;
			@media screen and (min-width: $mobilelandscapewidth) {	
				flex-wrap: nowrap;
				margin-bottom: $size__margin-medium-large;
			}
			.architect {
				width: 100%;
				flex: 0 0 auto;
				text-align: center;
				color: white;
				padding: $size__margin-tiny;
				margin: $size__margin-tiny 0;
				background-color: $color__wkww-green;
				@media screen and (min-width: $mobilelandscapewidth) {
					width: (100%-($size__about-architect-span*$size__about-architect-margin))/$size__about-architect-span;
					flex: 0 1 auto;
					padding: $size__margin-medium;
					margin: 0;
				}
				header h2 {
					text-transform: uppercase;
					color: white;
				}
				.copy {
					font-weight: 700;
					font-family: 'Quattrocento', serif;
				}
			}
		}
		.architect.copy {
			header h2 {
				width: 100%;
				margin: $size__margin-medium-small 0;
			}
			.copy-image.wrapper {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: stretch;
				align-content: stretch;
				@media screen and (min-width: $mobilelandscapewidth) {	
					flex-wrap: nowrap;
				}
				.featured-image.right-column {
					width: 100%;
					flex: 0 0 auto;
					order: 1;
					margin: 0;
					padding: 0;
					@media screen and (min-width: $mobilelandscapewidth) {
						width: $size__about-featured-image-width;
						order: 2;
						padding: 0 0 0 $size__margin-medium;
					}
					img {
						width: 100%;	
					}
				}
				.copy.left-column {
					width: 100%;
					flex: 0 0 auto;
					order: 2;
					@media screen and (min-width: $mobilelandscapewidth) {
						width: 100%-$size__about-featured-image-width;
						order: 1;
					}
				}
				.copy.no-column {
					width: 100%;
					flex: 0 0 auto;
					order: 1;
				}
			}
		}
		/*----------------------------
		 * Services Template Specific
		 -----------------------------*/
		.services.copy {
			width: 100%;
			margin: $size__margin-medium-small 0;
			@media screen and (min-width: $mobilelandscapewidth) {
				margin: $size__margin-medium-small 0 0 0;
			}
		}
		.services.wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			align-content: stretch;
			flex-wrap: wrap;
			.service {
				width: 100%;
				flex: 0 0 auto;
				text-align: center;
				border: 1px solid $color__wkww-green;
				margin-top: $size__margin-tiny;
				@media screen and (min-width: $mobilelandscapewidth) {
					width: (100%-($size__service-span*$size__service-margin))/$size__service-span;
					flex: 0 1 auto;
					margin-top: $size__margin-medium-small;
					&:first-child {
						margin-top: $size__margin-medium-small;
					}
				}
				&:firstchild {
					margin: 0;
				}
				header  {
					padding: $size__margin-tiny;
					background-color: $color__wkww-green;
					@media screen and (min-width: $mobilelandscapewidth) {
						min-height: 90px;
						padding: $size__margin-medium;
					}
					h2 {
						margin: 0;
						color: white;
						text-transform: uppercase;
					}
				}
				.copy {
					padding: $size__margin-tiny;
					font-family: 'Quattrocento', serif;
					@media screen and (min-width: $mobilelandscapewidth) {
						padding: $size__margin-medium;
					}
				}
			}
		}
	}
	/*-----------------------------
	* Single Page Template
	-------------------------------*/
	.portfolio-page.wrapper {
		padding: $size__margin-tiny;
		padding-bottom: 0;
		display: block;
		width: 100%;
		max-width: $deskwidth;
		margin: 0 auto;
		@media screen and (min-width: $mobilelandscapewidth){
			padding: $size__margin-medium $size__margin-medium-large $size__margin-medium-large $size__margin-medium-large;
		}
		header.portfolio {
			width: 100%;
			.project-type {
				width: 100%;
				ul {
					margin: 0;
					padding: 0;
					text-align: center;
					font-size: $font__size-medium-small;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: stretch;
					align-content: stretch;
					@media screen and (min-width: $mobilelandscapewidth){
						font-size: $font__size-medium;
					}
					li {
						margin: 0;
						padding: 0;
						width: 100%;
						flex: 0 0 auto;
						list-style: none;
						@media screen and (min-width: $mobilelandscapewidth) {
							display: inline-block;
							width: auto;	
							padding: 0 2%;
						}
						a {
							font-size: $font__size-medium-medium;
							font-family: 'Quattrocento', serif;
							text-decoration: none;
							color: $color__wkww-green;
						}
						&.active {
							a {
								font-weight: 700;
							}
						}
					}
				}
			}
			.title {
				
			}
		}
		.copy.project-type {
			width: 100%;
			padding: $size__margin-medium-large;
			background-color: $color__wkww-green;
			text-align: center;
			p {
				color: white;
				width: 80%;
				margin: 0 auto;
				font-size: $font__size-medium;
				font-weight: 700;
				font-family: 'Quattrocento', serif;
							
			}
		}
		.projects-sub-title.wrapper {
			width: 100%;
			header .sub-title {
				font-size: $font__size-medium-medium;
			}
			.projects-featured-project.wrapper {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				@media screen and (min-width: $mobilelandscapewidth) {	
					flex-wrap: nowrap;
				}
				.featured-project.wrapper.right-column {
					width: 100%;
					flex: 0 0 auto;
					order: 1;
					padding-left: $size__margin-medium-large;
					@media screen and (min-width: $mobilelandscapewidth) {
						width: $size__portfolio-featured-article-width;
						order: 2;
					}
					.featured-article {
						padding: 0;
						header {
							.title {
								margin: 0;
								font-size: $font__size-medium-medium-large;
								color: $color__text-main;
							}
							.location {
								font-family: 'Quattrocento', serif;
								margin: 0;
								font-size: $font__size-medium-medium-large;
							}
						}
						.gallery.wrapper {
							.featured-image.wrapper {
								width: 100%;
								img {
									width: 100%;
								}
							}
							.thumbnail.wrapper {
								width: 100%;
								display: flex;
								flex-wrap: wrap;
								justify-content: space-between;
								align-items: stretch;
								align-content: stretch;
								.thumbnail {
									width: (100%-($size__portfolio-gallery-thumbnail-margin-width*(($size__portfolio-gallery-thumbnail-span)-1)))/$size__portfolio-gallery-thumbnail-span;
									flex: 0 1 auto;					
									img {
										width: 100%;
									}
								}
							}
						}
						.copy {
							
						}
					}
				}
				.projects.wrapper.left-column {
					width: 100%;
					flex: 0 0 auto;
					order: 2;
					@media screen and (min-width: $mobilelandscapewidth) {
						width: 100%-$size__portfolio-featured-article-width;	
						order: 1;
					}
					.project {
						position: relative;
						width: 100%;
						margin: 0 0 $size__margin-tiny 0;
						display: flex;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-items: stretch;
						align-content: stretch;
						&:last-child {
							margin: 0;
						}
						&.active {
							background-color: $color__wkww-green;
							.title-location.wrapper {
								.title {
									color: white;
								}
								.location {
									color: white;
								}
							}
						}
						.image.wrapper {
							width: $size__portfolio-single-img-width;
							background-size: cover;
							background-position: center;
							flex: 0 1 auto;
						}
						.title-location.wrapper {
							flex: 0 1 auto;
							padding: $size__margin-medium-small;
							.title {
								font-size: $font__size-medium-small;
								color: $color__text-main;
								margin: 0;
							}
							.location {
								font-family: 'Quattrocento', serif;
								margin: 0;
								font-size: $font__size-medium-small;
							}
						}
					}
				}
			}
		}
	}
}

