$size__site-main: 100%;
$size__site-sidebar: 25%;
$mobiletinywidth: 350px;
$mobileportraitwidth: 500px;
$mobilelandscapewidth: 600px;
$tabwidth: 700px;
$midwidth: 900px;
$deskwidth: 1200px;

$size__home-left-column-width: 60%;

$size__margin-tiny: 5px;
$size__margin-small: 10px;
$size__margin-medium: 20px;
$size__margin-large: 40px;

