$size__site-main: 100%;
$size__site-sidebar: 25%;
$mobiletinywidth: 350px;
$mobileportraitwidth: 500px;
$mobilelandscapewidth: 600px;
$tabwidth: 700px;
$midwidth: 900px;
$deskwidth: 1300px;

$size__min-all-pages-height: 450px;

$size__home-left-column-width: 70%;

$size__service-span: 3;
$size__service-margin: 1%;

$size__portfolio-featured-article-width: 60%;
$size__portfolio-single-img-width: 20%;
$size__portfolio-gallery-thumbnail-span: 5;
$size__portfolio-gallery-thumbnail-margin-width: 1%;

$size__about-architect-span: 3;
$size__about-architect-margin: 0.5%;
$size__about-featured-image-width: 50%;

$size__margin-extra-tiny: 3px;
$size__margin-tiny: 5px;
$size__margin-small: 10px;
$size__margin-medium-small: 15px;
$size__margin-medium: 20px;
$size__margin-medium-large: 30px;
$size__margin-large: 40px;

