$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-tiny: 6pt;
$font__size-small: 8pt;
$font__size-medium-small: 13px;
$font__size-medium: 15px;
$font__size-medium-medium: 16px;
$font__size-medium-medium-large: 18px;
$font__size-medium-large: 19px;
$font__size-large: 22px;
$font__size-extra-large: 20pt;